#content .question_list {
    padding: 30px 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

#content .answers_total, a:hover.b_askquestions {
    background: #82b541;
    cursor: pointer;
}

#content .answers_total {
    float: left;
    width: 70px;
    height: 70px;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #fff;
    margin-right: 25px;
}

#content .answers_total, a.b_askquestions, #sidebar .subscribe .submit, .btn_input_highlight, .btn_input_normal, input#submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#content .answers_total a {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 8px;
    color: #fff;
}

#content .question_list h3 {
    margin: 0;
    font-size: 18px;
    float: left;
    padding-bottom: 10px;
}

#content .question_list .questions-list {
    float: left;
    max-width: 86%;
    width: 100%;
    font-size: 14px;
    border-bottom: none;
}

#content .question_list p span {
    float: left;
    margin-right: 20px;
}

.btn_input_highlight:hover, input#submit:hover, #content .question_list:hover .answers_total, #content .question_list:hover .answers_total a, a.b_askquestions, .pagination .on, .pagination a:hover {
    color: #79341a;
}
.btn_input_highlight:hover, input#submit:hover, #content .question_list:hover .answers_total, a.b_askquestions, .pagination .on, .pagination a:hover {
    background: #f5c142;
}
a.b_askquestions {
    margin-top: 4px;
    display: block;
    padding: 16px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}
#content .answers_total, a.b_askquestions, #sidebar .subscribe .submit, .btn_input_highlight, .btn_input_normal, input#submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#content .question_list h3 a {
    color: #333;
}

#content .question_list h3 a:hover {
    color: #82b541;
}

.text-area-form {
    height: 100px !important;
}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.reply-form {
    display: none;
}

.button-group {
    margin-left: 300px !important;
}

#content .threaded  {
    margin: 20px 0 50px 0;
    list-style: none;
}

#comments .commentlist li {
    padding-left: 0;
}

#comments .comment {
    clear: both;
}

.votes {
    float: left;
    width: 75px;
    height: 85px;
    padding: 0;
    text-align: center;
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.votes {
    border: 1px solid #e5e5e5;
    margin-left: 95px;
}

#comments .comment .votes p {
    margin: 0;
    padding: 0;
}
#content p {
    line-height: 28px;
}

.votes span.bnone {
    border: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 13px 0;
    background: #fff;
    color: #444;
    float: none !important;
    margin-right: 0px !important;
}

.votes img.up-thumb {
    margin: 8px 0;
    padding: 0 7px !important;
    border-right: 1px solid #d4d4d4 !important;
    cursor: pointer;
}

.votes span b {
    display: none;
}

.content_left {
    float: right;
    width: 82%;
    padding: 20px;
    background: #f8f8f8;
}

.content_left p {
    padding-left: 15px;
    line-height: 28px;
}

#comments .comment p.author {
    margin: 15px 0 10px 15px;
    padding: 20px 0 0 0;
    border-top: 1px solid #ebebeb;
}

.comment p.author {
    margin: 15px 0 10px 15px;
    padding: 20px 0 0 0;
    border-top: 1px solid #ebebeb;
}

.comment .agent_photo {
    float: left;
    margin-right: 18px;
    border: 1px solid #ededed;
}

.comment .auhtor_name {
    float: left;
    font-size: 14px;
    font-weight: bold;
}
